/* loading 圖示 */
.loader {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}


/* 方式一：預設開啟 loading，藉由加入 d-none 關閉 loading。
.loading-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(198, 194, 194);
	opacity: 0.5;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.d-none {
	display: none;
}
*/

/* 方式二：預設關閉 loading，藉由加入 .active 開啟 loading。 */
.loading-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(198, 194, 194);
	opacity: 0.5;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	display: none;	/* 會蓋掉 display: flex */
}
.loading-mask.active {
	display: flex;	/* 會蓋掉 display: none */
	/* justify-content: center;
	align-items: center; */
}

.overflow-hidden {
	overflow: hidden;	/* 隱藏 scroll bar 並無法滑動 */
}
